* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_Information_Holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .7rem;
    border-bottom: .1rem solid black;
    box-shadow: 1px 1px 5px black;
}

.portfolioImg {
    width: 3.5rem;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 1px;
}

.myName {
    font-size: 1.3rem;
}
.header_info {
    text-align: center;
}
.info {
    font-size: .9rem;
    font-style: italic;
}
.resumeLink {
    background-color: rgb(188, 253, 248);
    font-size: 1.3rem;
    padding: .5rem;
    color: rgb(0, 0, 0);
    border: black;
    box-shadow: 1px 1px 5px black;
    text-decoration: none;
    font-weight: bold;
}

.section1 {
    margin-left: 15%;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding: .5rem 0; 
    border: 1px solid black;
    height: 140%;
    position: absolute;
    box-shadow: 1px 1px 5px black;
}

.aside_Links {
    color: black;
    font-size: 1.3rem;
}

.aside div {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: .3rem;
}

.aside div:hover {
    width: 100%;
    background-color: rgb(188, 253, 248);
}

.article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_Title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.article_Information_Holder {
    width: 60%;
}

.article_Information_Holder p {
    padding-bottom: 10px;
    line-height: 1.5;
}
hr {
    border-bottom: 3px solid rgb(86, 189, 180);
    box-shadow: 1px 1px 3px black;
    background-color: black;
}
.moreInfo {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.moreInfo h2 {
    padding-bottom: 20px 
}

.moreInfo p {
    padding-bottom: 20px;
}

.moreInfo_Holder {
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
}


